{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-4">Mon compte</h1>
    <p>Bienvenue {{ app.user.lastName }} {{ app.user.firstName }} dans votre compte - vous pouvez gérer vos informations personnelles.</p>

    <div class="mt-4">
        <a href="{{ path('account_password') }}" class="btn btn-primary d-block mb-2">Modification de mot de passe</a>
        <a href="{{ path('account_address') }}" class="btn btn-primary d-block mb-2">Gérer mes adresses</a>
        <a href="{{ path('account_order') }}" class="btn btn-primary d-block">Mes commandes</a>
    </div>
</div>

{% endblock %}