{% extends 'base.html.twig' %}

{% block title %}Mes Commandes
{% endblock %}

{% block content %}

	<div class="container mt-4">
		<h1 class="mb-4">Je visualise ma commande n°
			{{ order.reference }}</h1>

		<hr>

		<div class="row mb-4">
			<div class="col-md-6">
				<p>
					<strong>Commande passée le:</strong>
					{{ order.createdAt | date("d/m/Y") }}</p>
				<p>
					<strong>Référence:</strong>
					{{ order.reference }}</p>
				<p>
					<strong>Transporteur:</strong>
					{{ order.carrier.name }}</p>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h2>Détails</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Produit</th>
								<th scope="col">Commentaire</th>
								<th scope="col">Quantité</th>
								<th scope="col">Prix unitaire</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for product in order.orderDetails %}
								<tr>
									<td>{{ product.product.name }}</td>
									<td>
										<a class="btn btn-success" href="{{ path('comment_product', {'slug': product.product.slug}) }}">Votre commentaire</a>
									</td>
									<td>{{ product.quantity }}</td>
									<td>{{ (product.price / 100) | number_format(2) }}
										€</td>
									<td>{{ (product.price * product.quantity) / 100 | number_format(2) }}
										€</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-md-6 offset-md-10 mt-3">
				<p>
					<strong>Sous Total:</strong>
					{{ (order.getTotal / 100) | number_format(2) }}
					€</p>
				<p>
					<strong>Livraison:</strong>
					{{ order.carrier.price | number_format(2) }}
					€</p>
				<p>
					<strong>Total:</strong>
					{{ (order.carrier.price + order.total / 100) | number_format(2) }}
					€</p>
			</div>
		</div>
	</div>

{% endblock %}
